{
  "presets": ["electron"],
  "only": [
    "src/*.js",
    "src/util/*.js",
    "src/steps/*.js",
    "src/client/*.js",
    "src/templates/*.js"
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
