.pure-g.header#selection(style="display:none;")
  .cell.pure-u-2-5#all-names
  .cell.pure-u-2-5
    span#all-paths
    .actions
      i.fa.fa-arrow-right
      | &nbsp;
      select
        each path, pathidx in paths
          option
            strong.base= path.abbr
  .cell.pure-u-1-5
    span#total-size
    .actions
      a.full-button#move(href="#")
        | Move 
        i.fa.fa-arrow-right
