tfoot#selection(style="display:none;")
  tr
    td#all-names
    td
      span#all-paths
      .actions
        i.fa.fa-arrow-right
        | &nbsp;
        select
          each path, pathidx in paths
            option
              strong.base= path.abbr
    td
      span#total-size
      .actions
        a#move(href="#")
          | Copy 
          i.fa.fa-arrow-right
