.pure-g.game(data-name=game.name)
  .cell.pure-u-2-5
    span.icon
      img(src="http://placehold.it/16/ff0000/ff0000")
    span.name= game.name
    .actions
      a.select(href="#")
        i.fa.fa-fw.fa-square-o.deselected
        i.fa.fa-fw.fa-check-square-o.selected
  .cell.pure-u-2-5
    .default
      strong.base= game.pathAbbr
      span.rest= game.rest
  .cell.pure-u-1-5
    i.fa.fa-gamepad
