table.pure-table#gameList
  thead
    tr
      th Game
      th Location
  tbody
    each game in games
      tr
        td
          = game.name
        td
          .default
            strong.base= game.abbr
            span.rest= game.rest
            .actions
              a.edit(href="#"): i.fa.fa-pencil
          .editing
            select
              each path, pathidx in paths
                option(selected=game.i===pathidx)
                  strong.base= path.path
                  span.rest
                    | \
                    = game.name
            .actions
              a.save(href="#"): i.fa.fa-save
