tr(data-name=game.name)
  td
    = game.name
    .actions
      a.select(href="#")
        i.fa.fa-fw.fa-square-o.deselected
        i.fa.fa-fw.fa-check-square-o.selected
  td
    .default
      strong.base= game.abbr
      span.rest= game.rest
  td
    i.fa.fa-gamepad
