doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='style.css', charset='utf-8')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', charset='utf-8')
    script(type='text/javascript',src='runtime.js')
    script(type='text/javascript',src='templates.js')
    script(type='text/javascript',src='zepto/zepto.js')
    script(type='text/javascript',src='zepto/zepto_event.js')
    script(type='text/javascript',src='zepto/zepto_form.js')
    script(type='text/javascript',src='zepto/zepto_data.js')
    script(type='text/javascript',src='zepto/zepto_selector.js')
    script(type='text/javascript',src='vex/vex.js')
    script(type='text/javascript',src='vex/vex.dialog.js')
    title Relief Valve
    script(type='text/javascript',src='client.js')
  body
    table.pure-table#gameList
      thead
        tr
          th Game
            .actions
              a#globalSelect.select(href="#"): i.fa.fa-fw.fa-square-o
          th Location
            .actions
              a#refresh(href="#"): i.fa.fa-fw.fa-refresh
          th Size
      tbody
        tr.loading(data-name="     LOADING")
          td Loading...
          td ...your games
          td 1337 GB
      tfoot#selection(style="display:none;")
      tfoot#progress-container(style="display:none;")
        tr
          td#progress-outer(colspan=3)
