doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='style.css', charset='utf-8')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', charset='utf-8')
    script(type='text/javascript',src='runtime.js')
    script(type='text/javascript',src='templates.js')
    script(type='text/javascript',src='zepto/zepto.js')
    script(type='text/javascript',src='zepto/zepto_event.js')
    script(type='text/javascript',src='zepto/zepto_form.js')
    script(type='text/javascript',src='zepto/zepto_data.js')
    script(type='text/javascript',src='zepto/zepto_selector.js')
    script(type='text/javascript',src='vex/vex.js')
    script(type='text/javascript',src='vex/vex.dialog.js')
    script(type='text/javascript',src='perfect-scrollbar/perfect-scrollbar.js')
    title Relief Valve
    script(type='text/javascript',src='client.js')
  body
    #toolbar.pure-g.header
      .cell.pure-u-1
        .search
          form
            span.prefix
              i.fa.fa-search
            input(type='search',placeholder='Search',required=true)
            span.suffix
              i.fa.fa-close#clearSearch
        span#magic
          span.user
            i.fa.fa-user
            select
              option Loading...
          span.category
            i.fa.fa-folder
            select
              option Loading...
          a.select(href="#"): i.fa.fa-fw.fa-square-o
        span.actions
          a#settings-link.full-button(href="#")
            i.fa.fa-gear
            |  Settings
    #gameList
      .pure-g.header
        .cell.pure-u-2-5 Game
          .actions
            a#globalSelect.select(href="#"): i.fa.fa-fw.fa-square-o
        .cell.pure-u-2-5 Location
          span.libs
          .actions
            a#refresh(href="#"): i.fa.fa-fw.fa-refresh
        .cell.pure-u-1-5 Size
      #games
        .pure-g.game.loading(data-name="     LOADING")
          .cell.pure-u-2-5 Loading...
          .cell.pure-u-2-5 ...your games
          .cell.pure-u-1-5 1337 GB
      .pure-g.header#selection(style="display:none;")
      .pure-g.header#progress-container(style="display:none;")
        .pure-u-1#progress-outer
    #settings-wrapper(style="display:none;")
      #settings
        h1 Settings
        form.pure-form.pure-form-aligned
          fieldset
            .pure-control-group
              label(for="steamAPIkey")
                | Steam API key
                br
                a.full-button(href="https://steamcommunity.com/dev/apikey", target="_blank", title="If this asks you for a domain name, just put random nonsense") (get one here)
              input#steamAPIkey(type="text",size=40,placeholder='ex. 0123456789ABCDEFGHIJKLMNOPQRSTUV')
            .pure-controls
              button(type='submit') Save
