doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='style.css', charset='utf-8')
    title Hello World.
  body
    h1 Hello World
    | We are using 
    em io.js
    |  
    script.
      document.write(process.version)
    | and 
    strong Electron
    |  
    script.
      document.write(process.versions['electron'])
    | .
