doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='style.css', charset='utf-8')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', charset='utf-8')
    script(type='text/javascript',src='runtime.js')
    script(type='text/javascript',src='templates.js')
    script(type='text/javascript',src='zepto.js')
    script(type='text/javascript',src='zepto_event.js')
    title Hello World.
    script(type='text/javascript',src='client.js')
  body
    table.pure-table#gameList
      thead
        tr
          th Game
            .actions
              a#globalSelect.select(href="#"): i.fa.fa-fw.fa-square-o
          th Location
          th Size
      tbody
        tr.loading(data-name="     LOADING")
          td Loading...
          td ...your games
          td 1337 GB
      tfoot(style="display:none;")
