@import "colors.less";
@import "elements.less";
@import "pure/base";
@import "pure/buttons";
@import "pure/tables";

@scrollbar-width: 17px;
.table-scrollable() {
  display: flex;
  flex-flow: column;

  thead,
  tfoot,
  tbody tr {
    display: table;
    table-layout: fixed;
  }

  thead, tfoot {
    flex: 0 0 auto;
    width: ~"calc(100% - @{scrollbar-width})";
  }

  tbody {
    display: block;
    flex: 1 1 auto;
    overflow-y: scroll;

    tr {
      width: 100%;
    }
  }
}

@font-face {
  font-family: 'NotoSans';
  font-weight: normal;
  src: url('../assets/NotoSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'NotoSans';
  font-weight: bold;
  src: url("../assets/NotoSans-Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'NotoSans';
  font-style: italic;
  src: url("../assets/NotoSans-Italic.ttf") format('truetype');
}

@font-face {
  font-family: 'NotoSans';
  font-weight: bold;
  font-style: italic;
  src: url("../assets/NotoSans-BoldItalic.ttf") format('truetype');
}

body {
  font-family: "NotoSans";
  color: @white;
  background-color: @darkGray;
  font-size: 9pt;
}

html, body {
  width: 100%;
  height: 100%;
}

#gameList {
  width: 100%;
  height: 100%;
  .table-scrollable();

  thead, tfoot {
    color: lighten(@white, 100%);
    .gradient(@darkGray, darken(@darkGray, 10%), lighten(@darkGray, 10%));
  }

  tbody tr:hover {
    background-color: lighten(@darkGray, 10%);
    color: lighten(@white, 100%);
  }

  .actions {
    float: right;
  }

  tr .actions {
    visibility: hidden;
  }

  tr:hover .actions, tr.selected .actions, thead tr .actions {
    visibility: visible;
  }

  a {
    //padding: 0.25em;
    //.gradient(@gray, @gray, lighten(@gray, 15%));
    color: inherit;
    text-decoration: none;
  }

  tr .rest {
    color: darken(@white, 50%);
  }

  tr:hover .rest {
    color: @white;
  }

  tr .deselected {
    display: inline;
  }

  tr .selected {
    display: none;
  }

  tr.selected .deselected {
    display: none;
  }

  tr.selected .selected {
    display: inline;
  }

  tr td:last-child {
    text-align: right;
  }
}
