@import (inline) "vendor/vex/vex.css";
@import (inline) "vendor/vex/vex-theme-plain.css";
@import (inline) "vendor/perfect-scrollbar/perfect-scrollbar.css";
@import (inline) "vendor/pure/pure-nr.css";
@import "colors.less";
@import "elements.less";
@import "scrollbar.less";

@font-face {
  font-family: 'NotoSans';
  font-weight: normal;
  src: url('../assets/NotoSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'NotoSans';
  font-weight: bold;
  src: url("../assets/NotoSans-Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'NotoSans';
  font-style: italic;
  src: url("../assets/NotoSans-Italic.ttf") format('truetype');
}

@font-face {
  font-family: 'NotoSans';
  font-weight: bold;
  font-style: italic;
  src: url("../assets/NotoSans-BoldItalic.ttf") format('truetype');
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: "NotoSans";
}

body {
  font-family: "NotoSans";
  color: @white;
  background-color: @darkGray;
  font-size: 9pt;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#gameList {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;

  & > div {
    flex: 0 1 auto;
  }

  .pure-g > div {
    box-sizing: border-box;
  }

  .header {
    color: lighten(@white, 100%);
    .gradient(@darkGray, darken(@darkGray, 10%), lighten(@darkGray, 10%));
  }

  .game:hover {
    background-color: lighten(@darkGray, 10%);
    color: lighten(@white, 100%);
  }

  .cell {
    border-left: 1px solid @white;
    border-width: 0 0 0 1px;
    margin: 0;
    overflow: visible;
    padding: 0.5em 1em;
  }

  .cell:first-child {
    border-left-width: 0;
  }

  #games {
    position: relative;
    flex: 1 1 auto;

    .cell {
      white-space: nowrap;
      overflow: hidden;
    }

    .name {
      display: inline-block;
      max-width: ~"calc(100% - 1em)";
      overflow: hidden;
    }
  }

  .actions {
    float: right;
  }

  .game .actions {
    visibility: hidden;
  }

  .game:hover .actions, .game.selected .actions {
    visibility: visible;
  }

  a {
    //padding: 0.25em;
    //.gradient(@gray, @gray, lighten(@gray, 15%));
    color: inherit;
    text-decoration: none;
  }

  .pure-g .rest {
    color: darken(@white, 50%);
  }

  .pure-g:hover .rest {
    color: @white;
  }

  .pure-g .deselected {
    display: inline;
  }

  .pure-g .selected {
    display: none;
  }

  .pure-g.selected .deselected {
    display: none;
  }

  .pure-g.selected .selected {
    display: inline;
  }

  .pure-g .cell:last-child {
    text-align: right;
    .actions {
      float: left;
    }
    a {
      .gradient(@gray, @gray, lighten(@gray, 15%));
      padding: 0.25em;
    }
  }

  select {
    width: auto;
    .gradient(@gray, @gray, lighten(@gray, 15%));
    color: @white;
    border: none;
    font: inherit;
  }

  option {
    background-color: @darkGray;
    color: @white;
    font: inherit;

    &:disabled {
      color: darken(@white, 30%);
    }
  }

  #progress-container {
    height: 2rem;
    transition: height 400ms;
  }

  #progress-outer {
    padding: 0px;
    height: 100%;
  }

  .progress {
    transition: width 400ms, background-color 400ms, height 400ms;
    overflow: hidden;
    background-color: desaturate(@green, 50%);
    height: 100%;
    float: left;
    &.verified {
      background-color: @green;
    }
  }
}

#move.disabled {
  .gradient(darken(@gray, 30%), darken(@gray, 30%), darken(@gray, 15%));
  color: darken(white, 30%);
  cursor: not-allowed;
}
